/* add a border to canvas so it stands out from the background.
*/

body {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #38434E; 
}

#game {
  border: 5px solid #4A7023;
  background-size: 500px 500px;
  background-image: url("https://i.pinimg.com/originals/ab/67/47/ab6747783c85e19b4c0aeeb8172015f8.png");
  border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
  align-content: center;
  
}

canvas {
  position: absolute;
  top: 0px;
  left: 30vw;
}

div {
  position: absolute;
  top: 580px;
  left: 29.5vw;

}

#game-over {
  display: none;
  position: absolute;
  top: 40px;
  left: 35vw;
}

#instructions {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  color: #A5C73F;
  position: absolute;
  top: 510px;
  left: 24vw;
}

#new-game,
#btn,
#make-hard {
  outline: none;
  background-color: #80972F;
  border-color: #526E2F;
  border-radius: 12px;
  font-size: 24px;
  margin-right: 5px;
}

#new-game:hover,
#btn:hover,
#make-hard:hover {
  background-color: #AFC755;
}

